
.cart-container{
    padding: 20px 15px;
}

.user-info{
    gap: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #7048e8;
}

.user-name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -12px;
}

.details-info{
    gap: 20px;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #edf2ff;
    justify-content: space-evenly;
}

.b-title{
    font-weight: 400;
    font-size: 22px;
}

.age p{
    margin-top: -14px;
}

.weight p{
    margin-top: -14px;
}

.height p {
    margin-top: -14px;
}

.second h5{
    padding: 10px;
    font-size: 17px;
    border-radius: 14%;
    transition: all .2s;
    background-color: #ffff;
}

.second h5:hover{
    color: #ffff;
    cursor: pointer;
    background-color: #7048e8;
}


/* /////////////////////// */
/* exr */
.exr-time{
    gap: 20px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: #edf2ff;
    justify-content: space-around;
}

.act-btn{
    border: none;
    display: flex;
    color: #ffff;
    font-size: 18px;
    margin-top: 50px;
    font-weight: 600;
    padding: 12px 80px;
    border-radius: 8px;
    background-color: #7950f2;
    transition: all 0.2s;
}

.act-btn:hover{
    cursor: pointer;
    background-color: #7048e8;
}
